.AreaHighlight {
  border: 1px solid #333;
  opacity: 1;
  mix-blend-mode: multiply;
}

.AreaHighlight__part {
  cursor: pointer;
  position: absolute;
  background: rgb(151, 252, 212);
  transition: background 0.3s;
}

.pending {
  background: rgb(252, 232, 151);
}

.verified {
  background: rgb(151, 252, 212);
}

.rejected {
  background: rgb(252, 151, 169);
}

.AreaHighlight--scrolledTo .AreaHighlight__part {
  background: #ff4141;
}