.AreaHighlight {
  opacity: 1;
  mix-blend-mode: multiply;
  display: inline-block;
  overflow: auto;
  height: fit-content;
  width: fit-content;
}

.AreaHighlight__part {
  cursor: pointer;
  position: absolute;
  background: rgb(151, 252, 212);
  transition: background 0.3s;
}

.pending {
  background: rgb(252, 232, 151);
  border: none;
}

.verified {
  background: rgb(151, 252, 212);
  border: none;
}

.rejected {
  background: rgb(252, 151, 169);
  border: none;
}

.ghost {
  border: 2px dashed rgb(162, 164, 168);
  background: rgba(0, 0, 0, 0)
}

.AreaHighlight--scrolledTo .AreaHighlight__part {
  opacity: 1.0 !important;
}